<p id="notice"><%= notice %></p>

<p>
  <strong>Starts at:</strong>
  <%= @schedule.starts_at.strftime('%B %d, %Y') %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @schedule.ends_at.strftime('%B %d, %Y') %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
